<template>
  <div class="data-table">
    <div class="data-table__filter">
      <ui-money v-model="moneyFilter" />
    </div>

    <div>
      <div class="data-table__head row">
        <div
          v-for="({ label, prop, width }) in columns"
          :key="prop"
          class="data-table__item"
          :style="{width}"
        >
          {{ label }}
        </div>
      </div>
      <div
        v-for="(item, id) in rowsPerPage"
        :key="id"
        class="data-table__content row"
      >
        <div
          v-for="(value, name) in item"
          :key="name"
          class="data-table__item"
          :style="{width: value.width}"
        >
          <div class="data-table__header-text">{{ capitalizeLetter(name) }}</div>
          <div class="data-table__cell-text">{{ value.val }}</div>
        </div>
      </div>
    </div>

    <div class="data-table__paginator">
      <ui-pagination
        v-model="page"
        :pages="pageCount"
      />
    </div>
  </div>
</template>

<script>
import { formatDate, formatMoney, capitalizeFirstLetter } from '@/js/helpers';

export default {

  name: 'DataTable',

  props: {
    rows: {
      type: Array,
      required: true,
    },
    columns: {
      type: Array,
      required: true,
    },
  },

  data: () => ({
    page: 1,
    pageSize: 4,
    moneyFilter: 0,
  }),

  watch: {
    moneyFilter() {
      if (this.page > 1) this.page = 1;
    },
  },

  computed: {
    pageCount() {
      return Math.ceil(this.extendedRows.length / this.pageSize);
    },
    extendedRows() {
      let mapRows = this.rows.map((e) => {
        return {
          id: {
            val: e.id,
            width: '',
          },
          date: {
            val: formatDate(e.date),
            width: '',
          },
          name: {
            val: e.name,
            width: '',
          },
          money: {
            val: formatMoney(e.money),
            width: '',
          },
        };
      });

      mapRows.forEach((e, i) => {
        this.columns.forEach((el) => {
          mapRows[i][el.prop].width = el.width;
        });
      });

      if (Number(this.moneyFilter)) {
        mapRows = mapRows.filter((e) => e?.money?.val.replaceAll(/\s/g, '') >= this.moneyFilter);
      }

      return mapRows;
    },
    rowsPerPage() {
      return this.extendedRows.slice((this.page - 1) * this.pageSize, this.pageSize * this.page);
    },
    capitalizeLetter() {
      return (name) => {
        return name === 'id' ? name.toUpperCase() : capitalizeFirstLetter(name);
      };
    },
  },
};
</script>
<style lang="scss">
.data-table {

  &__filter {
    margin-bottom: 10px;
  }

  &__head {
    display: none;

    @media (min-width: 769px) {
      display: flex;
    }
  }

  &__item {
    padding: 10px;

    @media (min-width: 769px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      padding: 10px 0;
      font-weight: bold;
      border: 1px solid grey;
      border-top: none;
      border-right: none;
      border-bottom: none;

      &:last-child {
        border-right: 1px solid grey;
      }
    }
  }

  &__content {
    width: 50%;
    min-width: 280px;
    border: 1px solid grey;

    @media (min-width: 769px) {
      display: flex;
      width: auto;
      border: none;
    }
  }

  &__header-text {
    font-weight: bold;

    @media (min-width: 769px) {
      display: none;
    }
  }

  &__paginator {
    margin-top: 10px;
  }

  .row {
    @media (min-width: 769px) {
      border-top: 1px solid grey;

      &:last-child {
        border-bottom: 1px solid grey;
      }
    }
  }
}
</style>
