<template>
  <input
    type="text"
    v-model="valueInput"
    class="ui-money"
    @blur="onBlurHandler"
    @focus="onFocusHandler"
    @input="onInputHandler"
    @change="onChangeHandler"
  />
</template>

<script>
import { formatMoney } from '@/js/helpers';

export default {

  name: 'UiMoney',

  props: {
    value: {
      type: Number,
      require: true,
    },
  },

  data() {
    return {
      valueInput: '',
    };
  },

  methods: {
    onInputHandler(event) {
      this.$emit('input', this.format(event.target.value));
    },
    onBlurHandler(event) {
      let num = event.target.value;

      num = this.format(num);

      this.valueInput = formatMoney(num);
    },
    onFocusHandler(event) {
      this.valueInput = this.unformatSpace(event.target.value);
    },
    onChangeHandler() {},
    /**
     * Формативарование числа
     *
     * @param {Number} num
     * @returns {Number}
     */
    format(num) {
      let newNum = num;

      newNum = newNum
        .replace(/[^.,\d]+/g, '') // Убираем все, кроме чисел, запятых и точек
        .replace(/^(\.|,)+|(\.|,)$/g, '') // Убираем точки и запятые вначале и конце
        .replace(',', '.') // заменяем запятую
        .toString(); // Убираем нули с конца

      newNum = this.truncated(newNum);

      return Number(newNum);
    },
    /**
     * Убираем пробелы
     *
     * @param {Number} num
     * @returns {Number}
     */
    unformatSpace(num) {
      return Number(num.replace(/[^.,\d]+/g, ''));
    },
    /**
     * Обрезает до сотых, без округления
     *
     * @param {Number} num
     * @returns {Number}
     */
    truncated(num) {
      return Math.trunc(num * 100) / 100;
    },
  },
};
</script>
